<div>
	<h4> Comment by <%= comment.author_name %> </h4>
	<p class="comment"> <%=comment.body %> </p>
	<p> Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later </p>
</div>
