<h1> <%= @article.title %> </h1>
<p>
	Tags:
		<% @article.tags.each do |tag| %>
			<%= link_to tag.name, tag_path(tag) %>
		<% end %>
</p>
<% if @article.image.exists? %>
	<p> <%= image_tag @article.image.url %> </p>
<% end %>
<p> <%= @article.body %> </p>
<h3> Comments ( <%= @article.comments.size %>) </h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<br><br>
<%= render partial: 'comments/form' %>
<%= link_to "Back to index page", articles_path %>
<%= link_to "Edit", edit_article_path(@article) %>
<%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete the article?"} %>
