<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<p class = "flash"> <%= flash.notice %> </p>
		<div id="container">
			<div id="content">
    		<%= yield %>
				<hr>
				<h6>
					<% if logged_in? %>
						<%= "Logged in as #{current_suer.emal}" %>
					<% else %>
						Logged out
					<% end %>
				</h6>
			</div>
		</div>
  </body>
</html>
